body {
    background-image: url("../../images/bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.title {
    font-family: 'Rajdhani', sans-serif;
    color: #F7F9FB;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    position: fixed;
    left: 0;
    right: 0;
}