.title {
  font-family: 'Rajdhani', sans-serif;
  color: #111111;
  position: fixed;
  font-size: 45px;
  font-weight: bold;
  text-align: center;
  left: 0;
  right: 0;
  margin-top: 30px;
  margin-bottom: 10px;
}