#button {
    padding: 5px;
    font-size: 15px;
    width: 120px;
    font-family: 'Rajdhani', sans-serif;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: transparent; 
    text-decoration: none;
}

h2 {
    text-align: center;
    font-family: 'Rajdhani', sans-serif;
    padding-top: 10px;
    color: #e6e6e6;
    font-size: 15px;
}

.category { 
    transition: all .2s ease-in-out; 
}

.category:hover { 
    transform: scale(1.4);
}

p {
    font-family: 'Rajdhani', sans-serif;
    color: #F7F9FB;
    font-size: 15px;
}
